{% extends 'base_admin.html.twig' %}

{% block page_wrapper %}
    <h1>Renting creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin-panel_renting_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock page_wrapper %}
